

.VPNavBarTitle .title{
  font-size: 24px;
}

 
.Layout .VPNavBar  .container .content{
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  background-color: var(--vp-c-bg) ; 
}  

.Layout .VPNavBar{
  height: cal(var(--vp-nav-height-mobile)+1);
}

.Layout .VPLocalNav .menu-text,
.Layout .VPLocalNav .top-link{
  font-size: 16px;
}

@media (min-width: 768px) {
 
}

@media (min-width: 960px){ 
  .Layout .VPNavBar  .container .content{
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background-color: var(--vp-c-bg) ; 
  }  
}


